<div class="content">
  <div class="bread-crumbs pt-3 pb-2">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/search-profiles">Search Profiles</a></li>
      <li>
        <a routerLink="/search-profiles/{{ source }}">{{
          title | titlecase
        }}</a>
      </li>
    </ul>
  </div>

  <br />

  <div class="container-fluid">
    <br />
    <h3>Browse All {{ sourceName }} by Network</h3>

    <div class="row">
      <div class="col-3 col-sm-6">
        <a routerLink="/categories/{{ source }}/instagram">Instagram</a>
      </div>
      <div class="col-3 col-sm-6">
        <a routerLink="/categories/{{ source }}/youtube">Youtube</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/twitter">Twitter</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/facebook">Facebook</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/flickr">Flickr</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/quora">Quora</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/pinterest">Pinterest</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/tiktok">Tiktok</a>
      </div>
      <div class="col-3">
        <a routerLink="/categories/{{ source }}/TravelMassive">TravelMassive</a>
      </div>
    </div>
  </div>
  <br />

  <div class="container-fluid">
    <br />
    <h3 class="heading">
      <ng-container *ngIf="platform">
        <app-platform-icon
          [platform]="platform"
          cssClasses="heading-icon"
        ></app-platform-icon>
      </ng-container>
      {{ title }}
    </h3>
    <br />
    <div style="margin-left: 45%" class="fa-3x" *ngIf="keywrods.length === 0">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <ng-container *ngFor="let keyword of keywrods">
      <h4>
        {{ keyword.category }} ({{ getTotal(keyword.keywords) | number }})
      </h4>
      <hr />
      <div class="row">
        <div class="col-md-4" *ngFor="let key of keyword.keywords">
          <a [href]="getSearchLink(key.keyword)" target="_blank">
            <i class="fas fa-caret-right"></i> {{ key.keyword }} ({{
              key.resultsCount | number
            }})
          </a>
        </div>
      </div>
      <br />
    </ng-container>
  </div>
</div>
