<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg">
    <li class="page-item" *ngIf="currentPage > 0">
      <a
        class="page-link"
        routerLink="."
        aria-label="Previous"
        (click)="onPrevPageClkd()"
      >
        <span aria-hidden="true"><</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li
      class="page-item"
      *ngFor="let p of pages"
      [class.active]="p === currentPage"
    >
      <a routerLink="." (click)="onPageClkd(p)" class="page-link">{{
        p + 1
      }}</a>
    </li>
    <li class="page-item" *ngIf="currentPage < pages.length - 1">
      <a
        routerLink="."
        class="page-link"
        (click)="onNextPageClkd()"
        aria-label="Next"
      >
        <span aria-hidden="true">></span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
