<div class="search-bar pl-4 pr-4">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-6 pt-3 border-right">
      <i class="pi pi-search text-purple-500 font-bold text-2xl lg:p-2"></i>
      <input
        type="text"
        class="border-none lg:border-right-2 lg:border-gray-300 text-1xl lg:px-5"
        pInputText="pInputText"
        placeholder="Search"
      />
    </div>
    <div class="col-12 md:col-12 lg:col-4 ">
        <div class="plateform">
          <!-- <h2>All PlateForms</h2> -->
            <pp-platform-selector></pp-platform-selector>
        </div>
    </div>
    <div class="col-12 md:col-12 lg:col-2">
        <button pButton="pButton" pRipple="pRipple" type="button" label="Search" class="p-button-rounded p-button-dark px-5 bg-gray-900" style="border-radius: 2rem; margin-top: 13px;"></button>
    </div>
  </div>
</div>

<!-- <div class="bg-white h-4rem lg:flex lg:mx-8 lg:mb-8 bg-blue-600 mt-5" style="border-radius: 50px;">
    <div class="grid">
        <div class="col-6 lg:w-30rem md:w-full">
            <div class="p-inputgroup md:w-full">
                <span class="p-inputgroup-addon lg:border-circle-left bg-white border-white lg:border-right-none outline-none">
                    <i class="pi pi-search text-purple-500 font-bold text-2xl lg:p-2"></i>
                </span>
                <input type="text" class="border-none lg:border-right-2 lg:border-gray-300 text-1xl lg:px-5" pInputText="pInputText" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="col-4 lg:border-none">
        <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-check" iconPos="right" label="All Networks" (click)="op.toggle($event)" class="p-button-text bg-white font-bold" style="color: #640ab6;"></button>
    </div>
    <div class="col-2">
        <button pButton="pButton" pRipple="pRipple" type="button" label="Search" class="p-button-rounded p-button-dark px-5 ml-8 bg-gray-900" style="border-radius: 2rem;"></button>
    </div>
</div> -->
<!-- 
<p-overlayPanel #op [showCloseIcon]="true" class="lg:w-30rem mr-8" [style]="{width: '1000px'}">
    <ng-template pTemplate>
        <div class="font-bold border-gray-400 border-bottom-1 text-2xl py-3">Platforms</div>
        <div class="grid mt-5 ml-8 pl-2">
            <div class="col-4 mb-6">
                <i class="pi pi-instagram text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Instagram</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
            <div class="col-4">
                <i class="pi pi-twitter text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Twitter</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
            <div class="col-4">
                <i class="pi pi-youtube text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Youtube</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
            <div class="col-4">
                <i class="pi pi-facebook text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Facebook</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
            <div class="col-4">
                <i class="pi pi-instagram text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Instagram</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
            <div class="col-4">
                <i class="pi pi-instagram text-white border-circle text-2xl p-3 bg-gray-300 icon-circle ml-1"></i>
                <span class="block my-2">Instagram</span>
                <i class="pi pi-check border-circle bg-gray-300 text-white font-bold p-1 ml-3"></i>
            </div>
        </div>
    </ng-template>
</p-overlayPanel> -->
