<div class="search-bar min pl-4 pr-4">
  <div class="row">
    <div class="col-md-6 pt-3 pb-3 border-right">
      <i class="fa fa-search search-icon"></i>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="params.keyword"
        (keydown.enter)="onSearchClkd()"
        id="search"
        autocomplete="off"
      />
    </div>
    <div class="col-md-4  pt-3 pb-3">
      <div>
        <app-platform-selector
          placeholder="All Platforms"
          [(ngModel)]="params.selectedPlatforms"
          (ngModelChange)="updateFilters({})"
        ></app-platform-selector>
      </div>
    </div>
    <div class="col-md-2">
      <button
        (click)="onSearchClkd()"
        type="button"
        class="btn btn-dark btn-block"
      >
        Search
      </button>
    </div>
  </div>
</div>
<div
  class="filters mt-4"
  *ngIf="showFilters && params.selectedPlatforms.length === 1"
>
  <ng-container [ngSwitch]="params.selectedPlatforms[0]">
    <app-quora-filters [(filters)]="filters" *ngSwitchCase="'quora'">
    </app-quora-filters>
    <app-fb-filters [(filters)]="filters" *ngSwitchCase="'facebook'">
    </app-fb-filters>
    <app-youtube-filters [(filters)]="filters" *ngSwitchCase="'youtube'">
    </app-youtube-filters>
    <app-twitter-filters [(filters)]="filters" *ngSwitchCase="'twitter'">
    </app-twitter-filters>
    <app-instagram-filters [(filters)]="filters" *ngSwitchCase="'instagram'">
    </app-instagram-filters>
    <app-tiktok-filters *ngSwitchCase="'tiktok'" [(filters)]="filters">
    </app-tiktok-filters>
    <app-travel-massive-filters
      *ngSwitchCase="'travelmassive'"
      [(filters)]="filters"
    >
    </app-travel-massive-filters>
    <app-flickr-filters *ngSwitchCase="'flickr'" [(filters)]="filters">
    </app-flickr-filters>
    <app-pinterest-filters *ngSwitchCase="'pinterest'" [(filters)]="filters">
    </app-pinterest-filters>
  </ng-container>
  <div class="row">
    <div class="col-10"></div>
    <div class="col">
      <button
        (click)="onSearchClkd()"
        type="button"
        class="btn btn-dark btn-block"
      >
        Apply Filters
      </button>
    </div>
  </div>
</div>
