<div class="flex justify-content-end">
  <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
</div>
<div class="card">
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Class</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.contact }}</td>
        <td>{{ product.class }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
