<div class="search-panel">
  <div class="grid md:justify-content-center">
    <div class="col-2 hidden"></div>
    <div class="col-12 lg:col-8 md:col-12">
      <pp-search-form></pp-search-form>
    </div>
    <div class="col-2 hidden"></div>
  </div>
</div>
<div class="content" id="top-heading">
  <div class="surface-section">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a class="no-underline line-height-3 cursor-pointer" routerlink="/"
          >Home</a
        >
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <a
          class="no-underline line-height-3 cursor-pointer"
          style="color: #640ab6"
          >Results</a
        >
      </li>
    </ul>
  </div>

  <ng-container *ngIf="title">
    <div class="grid">
      <div class="col-12">
        <h2>Top Profiles For: {{ title | titlecase }}</h2>
      </div>
    </div>
  </ng-container>

  <div class="grid">
    <div class="col-8">
      <ng-container *ngIf="filteredRecordsCount && totalSearchTime">
        <br />
        <div style="font-weight: 700">
          {{ filteredRecordsCount | number }} profile matches | Scanned
          {{ totalRecords | toShortNumber : true }} profiles | Processed in
          {{ totalSearchTime }} seconds
        </div>
      </ng-container>
    </div>
    <div class="col-4">
      <span>Sort BY</span>
      <select
        [(ngModel)]="sort"
        (change)="onSortChange()"
        class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round m-2 outline-none focus:border-primary mt-2"
        id="exampleFormControlSelect1"
      >
        <!-- facebook -->
        <ng-container *ngIf="platforms == 'facebook'">
          <option value="likescount">Likes</option>
        </ng-container>

        <!-- flickr -->
        <ng-container *ngIf="platforms == 'flickr'">
          <option value="photoviewscount">Photo Views</option>
        </ng-container>

        <option value="followers">Followers</option>
        <option value="_score">Relevance</option>

        <ng-container [ngSwitch]="platforms">
          <!-- quora -->
          <ng-container *ngSwitchCase="'quora'">
            <option value="questionscount">Questions</option>
            <option value="answerscount">Answers</option>
          </ng-container>

          <!-- flickr -->
          <ng-container *ngSwitchCase="'flickr'">
            <option value="photoscount">Photos</option>
            <option value="favorites">Favorites</option>
          </ng-container>
          <ng-container *ngSwitchCase="'pinterest'">
            <option value="postcount">Posts</option>
          </ng-container>
          <!-- facebook -->
          <ng-container *ngSwitchCase="'facebook'">
            <option value="checkinscount">Checked-ins</option>
          </ng-container>
          <!-- youtube -->
          <ng-container *ngSwitchCase="'youtube'">
            <option value="videocount">Videos Count</option>
            <option value="totalsview">Views Count</option>
          </ng-container>
          <!-- instag -->
          <ng-container *ngSwitchCase="'instagram'">
            <option value="postcount">Post Count</option>
          </ng-container>

          <!-- tiktok -->
          <ng-container *ngSwitchCase="'tiktok'">
            <option value="likescount">Likes Count</option>
            <option value="videocount">Videos Count</option>
          </ng-container>

          <!-- twitter -->
          <ng-container *ngSwitchCase="'twitter'">
            <option value="statusescount">Tweets Count</option>
          </ng-container>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="surface-card p-4 shadow-3 border-round mb-6">
    <div class="font-bold text-900">Top 10 Pakistani Twitter Accounts</div>
    <div class="font-medium text-600 mb-3">Top ten most followed Pakistani Twitter account.</div>
    <div class="mb-3">Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account</div>
    <div class="mb-3">Tags:</div>
    <div class="text-800">View Profiles</div>
</div>

<div class="surface-card p-4 shadow-3 border-round mb-6">
    <div class="font-bold text-900">Top 10 Pakistani Twitter Accounts</div>
    <div class="font-medium text-600 mb-3">Top ten most followed Pakistani Twitter account.</div>
    <div class="mb-3">Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account</div>
    <div class="mb-3">Tags:</div>
    <div class="text-800">View Profiles</div>
</div>
</div>
