<div class="row">
  <div class="col-md">
    <div class="form-group">
      <label for="location-input">Location</label>
      <input
        [(ngModel)]="filters.location"
        (change)="changed()"
        class="form-control"
      />
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="is-verified-label">Is Verified</label>
      <div class="select">
        <select
          [(ngModel)]="filters.isVerified"
          (change)="changed()"
          class="form-control"
        >
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="control1">Profession</label>
      <input
        [(ngModel)]="filters.profession"
        (change)="changed()"
        class="form-control"
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="location-input">Category</label>
      <input
        [(ngModel)]="filters.category"
        (change)="changed()"
        class="form-control"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="control1">Company</label>
      <input
        [(ngModel)]="filters.company"
        (change)="changed()"
        class="form-control"
      />
    </div>
  </div>
</div>
