<div class="content">
  <div class="surface-section">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a class="no-underline line-height-3 cursor-pointer" routerlink="/"
          >Home</a
        >
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <a class="no-underline line-height-3 cursor-pointer">
          Search Profiles
        </a>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="line-height-3" style="color: #640ab6">Networks</span>
      </li>
    </ul>
  </div>
  <pp-platform-stats heading="Browse By Network"></pp-platform-stats>
</div>
