body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
  color: #22222b;
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  color: #3d3d3d;
}
h3 {
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
}
h4 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.27px;
}

a:link {
  color: #3d3d3d;
  text-decoration: none;
}
a:visited {
  color: #3d3d3d;
}
a:hover {
  color: #4f0098;
}
a:active {
  color: #3d3d3d;
}
button:hover {
  background: #4f0098 !important;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #b3b3b3;
}

/* inputs controls*/
select {
  border-radius: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select:after {
  content: '>';
  font: 25px 'Consolas', monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  pointer-events: none;
  top: 42px;
  right: 28px;
}
input,
select,
textarea {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 0.31px !important;
  color: #6f6f6f !important;
}

/* header*/
.top-nav,
.main-nav,
footer .links,
.content {
  padding-left: 100px;
  padding-right: 100px;
}
.theme-bg {
  background: #640ab6;
}
.theme-color {
  color: #640ab6;
}
/*  header top nav */
.top-nav {
  background: #fbfbfb;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3d3d;
}
.top-nav li {
  display: inline;
  color: #d2d2d2;
}
.top-nav li:after {
  content: '|';
}
.top-nav li:last-child:after {
  content: none;
}
.top-nav .links a {
  padding: 0 10px;
}
.top-nav a i {
  color: #4f0098;
}
/*  main nav */
.main-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d2d2;

  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  color: #3d3d3d;
}
.main-nav li {
  display: inherit;
  color: #d2d2d2;
}
.main-nav li a {
  padding: 0 28px !important;
}
.main-nav li:last-child a {
  padding-right: 0 !important;
}
.main-nav .login:before {
  content: '|';
}
.main-nav .login i {
  font-size: 14px;
  margin-right: 5px;
}
.main-nav .signup:before {
  content: '|';
}
.main-nav .signup i {
  font-size: 14px;
  margin-right: 5px;
}
/*footer*/
footer {
  padding-top: 60px;
  color: #7e7e7e;
  background: #fbfbfb;
}
footer .links {
  font-size: 14px;
}
footer .links h5 {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
footer .links p {
  padding: 30px 100px 0 0;
}
footer .links ul li {
  padding: 6px 0;
  color: #7e7e7e;
}
footer .social {
  padding: 38px 0 10px 0;
  margin-top: 38px;
}
footer .copyright {
  text-align: center;
  background: #f5f5f5;
  padding: 20px 0;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.19px;
  color: #282831;
}
footer .follow-us a {
  padding: 13px 0;
  background: #eeeeee;
  margin: 3px 5px;
  display: block;
  float: left;
  height: 48px;
  width: 48px;
  text-align: center;
}
footer .follow-us a:hover {
  background: #4f0098;
  color: #fff;
}
.content {
  min-height: 300px;
}

/* breadcrumbs */
.bread-crumbs {
}
.bread-crumbs a {
  padding: 0 8px;
  font-size: 15px;
  font-weight: 600;
}
.bread-crumbs a:hover {
  text-decoration: underline;
}
.bread-crumbs li:last-child a {
  color: #4f0098;
}
.bread-crumbs li {
  float: left;
}
.bread-crumbs li:after {
  content: '>';
  font-weight: 600;
}
.bread-crumbs li:last-child:after {
  content: '';
}

/*  homepage  profile stats */
.profiles-states {
}
.profiles-states .card {
  background: #f6f6f6;
  border-radius: 20px;
  border-width: 0;
}
.profiles-states .card span {
  display: block;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.profiles-states .card h5 {
  margin: 15px 0 0 0;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.35px;
}
.profiles-states .card h5 i {
  float: right;
  font-size: 26px;
  color: #cecece;
  margin-top: 8px;
}
.profiles-states .card .sm {
  border-radius: 40px;
  background: #e1e1e1;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  color: #fff;
}
.profiles-states .card i.fb {
  background: #295dc0;
}
.profiles-states .card i.yt {
  background: #f3594c;
}
.profiles-states .card i.tw {
  background: #00b0f3;
}
.profiles-states .card i.ig {
  background: #f86b75;
}

/*  profile listing */
.profile-list {
}
.profile-list .card {
  border-radius: 12px;
}
.profile-detail {
  font-size: 15px;
}
.profile-list h4,
.profile-detail h4 {
  padding-top: 10px;
}
.profile-list h4 .ex-link {
  position: absolute;
  top: 11px;
  color: #000;
}
.profile-list h4 .ex-link i {
  font-size: 12px;
  color: #040000;
}
.profile-list .card .profile-img,
.profile-detail .profile-img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  padding: 0;
  border-radius: 100px;
}
.profile-list .desc,
.profile-detail .desc {
  padding: 0 50px 0 110px;
  font-size: 16px;
}
.profile-list .desc p {
  font-size: 15px;
  padding: 6px 0;
}
.profile-list .desc li {
  display: inline;
  padding-right: 10px;
}
.profile-list .desc li::after {
  content: '|';
}
.profile-list .desc li:last-child::after {
  content: '';
}
.profile-list .desc li span:first-child {
  font-weight: bold;
  color: #000;
}
.profile-list .desc li span:last-child {
  padding: 0 14px;
  font-size: 14px;
}
.icon-circle {
  /* display: block; */
  height: 52px;
  width: 52px;
  border-radius: 40px;
  text-align: center;
  padding-top: 13px;
  background: #d4d4d4;
  color: #fff;
  font-size: 28px;
}
/* profile detail */
.profile-detail .desc {
  font-size: 14px;
}
.profile-detail .desc strong {
  font-size: 16px;
}
.profile-detail .desc h4 {
  font-size: 19px !important;
}
.profile-detail .card {
  border-radius: 10px;
}
.stats-panel {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.stats-panel strong {
  font-size: 20px;
}
/* paging */
.paging {
}
.paging .page-item a:hover {
  color: #4f0098;
}
.paging .page-item.active a:hover {
  color: #fff;
}
.paging .page-item.active .page-link {
  background: #4f0098;
  border: 1px solid #4f0098;
}

/* search panel */
.search-panel {
  padding: 50px;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
}
.search-panel .heading {
  padding-bottom: 30px;
}
.search-panel .heading p {
  padding: 0 62px;
}
.search-panel .heading h1 {
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.03);
  font-size: 63px;
  /*font-size: calc(100% + 2vw + 2vh)!important;*/
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: -0.1px;
  text-align: center;
  color: #22222b;
}
.search-panel .search-bar {
  border-radius: 50px;
  background: #fff;
  overflow: auto;
}
.search-bar .form-control {
  border: none;
}
.search-bar #search {
  padding-left: 63px;
}
.search-bar .search-icon {
  position: absolute;
  font-size: 30px;
  left: 27px;
  top: 24px;
  color: #4f0098;
}
.search-bar .form-control:focus {
  outline: none !important;
  box-shadow: none;
}
.search-bar select {
  font-size: 20px;
}
.search-bar button {
  border-radius: 20px;
  margin-top: 21px;
}
.search-panel .filters {
  background: #fff;
  border-radius: 25px;
  padding: 16px 40px;
}
.search-panel .filters label {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.31px;
}
.search-panel .filters .more {
  position: absolute;
  margin: auto;
  bottom: -20px;
  left: calc(50% - 22px);
  background: #fff;
  padding: 1px 13px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}
.search-panel.home .search-bar #search,
.search-panel.home .search-bar select {
  font-size: 18px !important;
}
.search-panel.home .search-bar .select:after {
  top: 21px;
  font-size: 30px;
}

/* search bar minimun (inner pages) */
.search-panel .search-bar.min {
}
.search-panel .search-bar.min .pt-3,
.search-panel .search-bar.min .pb-3 {
  padding-bottom: 6px !important;
  padding-top: 8px !important;
}
.search-panel .search-bar.min .search-icon {
  top: 13px;
}
.search-panel .search-bar.min button {
  margin-top: 8px;
}
.search-panel .search-bar.min .select:after {
  top: 13px;
}

/*  media css */
@media (max-width: 575.98px) {
  .top-nav,
  .main-nav,
  footer .links,
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-panel {
    padding: 40px 10px;
  }
  .search-panel .border-right {
    border: none !important;
  }
  .search-panel .search-bar {
    padding: 10px 0;
    border-radius: 20px;
  }
  .search-panel .search-bar .col-md-6 {
    border-bottom: 1px solid #e1e1e1 !important;
  }
  .search-panel .search-bar .col-md-4 {
    border-bottom: 1px solid #e1e1e1 !important;
  }

  h1 {
    font-size: 30px !important;
  }
  footer .social {
    padding: 18px 0 10px 0;
    margin-top: 18px;
  }
  footer .social p {
    padding: 0;
  }
  footer .links h5 {
    margin-bottom: 0;
  }

  /* mobile menu */
  .main-nav .login:before,
  .main-nav .signup:before {
    content: '';
  }
  .navbar-collapse.show {
    background: #eaeaea;
    border-radius: 14px;
    padding: 0;
    margin-top: 12px;
  }
  .navbar-collapse.show li a {
    padding: 10px 23px !important;
    width: 100%;
    border-bottom: 1px solid #dad9d9;
  }
  .navbar-collapse.show li:last-child a {
    border-bottom: none;
  }

  .profile-list .desc,
  .profile-detail .desc {
    padding: 100px 0px 0 0px;
  }
  .profile-list h4 .ex-link {
    top: 118px;
  }
  .profile-list .desc li {
    display: block;
  }
  .profile-list .desc li::after {
    content: '';
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .top-nav,
  .main-nav,
  footer .links,
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-nav,
  .main-nav,
  footer .links,
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 30px !important;
  }
  .search-panel {
    padding: 40px 10px;
  }
  .search-panel .border-right {
    border: none !important;
  }
  .search-panel .search-bar {
    padding: 10px 0;
    border-radius: 20px;
  }
  .search-panel .search-bar .col-md-6 {
    border-bottom: 1px solid #e1e1e1 !important;
  }
  .search-panel .search-bar .col-md-4 {
    border-bottom: 1px solid #e1e1e1 !important;
  }

  h1 {
    font-size: 30px !important;
  }
  footer .social {
    padding: 18px 0 10px 0;
    margin-top: 18px;
  }
  footer .social p {
    padding: 0;
  }
  footer .links h5 {
    margin-bottom: 0;
  }

  /* mobile menu */
  .main-nav .login:before,
  .main-nav .signup:before {
    content: '';
  }
  .navbar-collapse.show {
    background: #eaeaea;
    border-radius: 14px;
    padding: 0;
    margin-top: 12px;
  }
  .navbar-collapse.show li a {
    padding: 10px 23px !important;
    width: 100%;
    border-bottom: 1px solid #dad9d9;
  }
  .navbar-collapse.show li:last-child a {
    border-bottom: none;
  }

  .profile-list .desc,
  .profile-detail .desc {
    padding: 100px 0px 0 0px;
  }
  .profile-list h4 .ex-link {
    top: 118px;
  }
  .profile-list .desc li {
    display: block;
  }
  .profile-list .desc li::after {
    content: '';
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .top-nav,
  .main-nav,
  footer .links,
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-nav li a {
    padding: 0 12px !important;
  }
}
.selected .platfrom-selector,
.platfrom-selector:hover {
  cursor: pointer;
  background: #640ab6 !important;
}

/* social icons color defination */
.fa-twitter.colored {
  background: #00b0f3 !important;
}
.fa-instagram.colored {
  background: #f86b75 !important;
}
.fa-facebook.colored {
  background: #295dc0 !important;
}
.fa-youtube.colored {
  background: #f3594c !important;
}
.fa-tumblr.colored {
  background: #3b5876 !important;
}

.fa-flickr.colored {
  background: #0063db !important;
}
.fa-tiktok.colored {
  background: gray !important;
  color: white;
}

.fa-quora.colored {
  background: #b92b26 !important;
}

.fa-pinterest.colored {
  background: #f86b75 !important;
}

.fa-tm.colored,
.fa-travelmassive.colored {
  background: #f1678a !important;
  color: white;
}
.close:hover {
  color: white;
}
