<div class="lg:h-2rem bg-gray-50 m-0 lg:flex lg:justify-content-between md:align-items-center lg:flex-row text-sm">
    <div class="pl-5">
        <a href="#" class="text-900 no-underline lg:pl-7">
            <i class="pi pi-envelope"></i>
            info@profilerpiler.com</a>
    </div>
    <div class="lg:px-8">
        <ul class="list-none flex">
            <li>
                <a href="#" class="text-900 px-3 no-underline border-right-2 border-gray-300">Home</a>
            </li>
            <li>
                <a href="#" class="text-900 px-3 no-underline border-right-2 border-gray-300">About</a>
            </li>
            <li>
                <a href="#" class="text-900 px-3 no-underline border-right-2 border-gray-300">Blog</a>
            </li>
            <li>
                <a href="#" class="text-900 px-3 no-underline">Contact</a>
            </li>
        </ul>
    </div>
</div>

 <div class="border-bottom-1 border-gray-300 py-3">
    <p-menubar [model]="items" class="w-full">
        <ng-template pTemplate="start">
            <img src="../assets/img/logo.png" alt="" routerlink="/" class="lg:px-8 md:px-4 mr-8" style="margin-left: 20px;">
        </ng-template>
    </p-menubar>
</div>