<header>
  <nav class="navbar top-nav">
    <a routerLink="/"><i class="far fa-envelope"></i> info@profilerpiler.com</a>
    <div class="float-right links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Blog</a></li>
        <li><a routerLink="/contact-us">Contact</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md main-nav border-bottom">
    <a class="logo" routerLink="/">
      <img src="/assets/img/logo.png" alt="Profilerpiler" />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    &#9776;
    </button>
    <div class="navbar-collapse collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a
            (click)="isMenuCollapsed = true"
            class="nav-link"
            routerLink="/search-profiles"
            >Search Profiles</a
          >
        </li>

        <li class="nav-item active">
          <a
            (click)="isMenuCollapsed = true"
            class="nav-link"
            routerLink="/lists"
            >Curated Lists</a
          >
        </li>

        <li class="nav-item active">
          <a
            (click)="isMenuCollapsed = true"
            class="nav-link"
            routerLink="/search-profiles/network"
            >Stats</a
          >
        </li>

        <li class="nav-item login">
          <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="/"
            ><i class="fas fa-key"></i>login</a
          >
        </li>
        <li class="nav-item signup">
          <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="/">
            <i class="fas fa-user"></i>Sign Up
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
