
.search-panel {
  padding: 50px;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
}
.search-panel .heading h1 {
  text-shadow: 0 4px 5px rgb(0 0 0 / 3%);
  font-size: 63px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: -0.1px;
  text-align: center;
  color: #22222b;
  margin-top: 0px;
}

.search-panel .heading p {
  padding: 0px 62px;
  margin-bottom: 1rem;
}
@media (max-width: 575.98px) {
  .search-panel {
    padding: 40px 10px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 30px !important;
  }
}
a{
color: black;
}