.card.selectable {
    cursor: pointer;
}

.card.selectable:hover {
    background: #9452d1 !important;
    color: white;
}

.card.selectable:hover .icon-circle {
    background-color: #4f0098 !important;
}