<div class="surface-section py-8 px-8 md:px-6 lg:px-8 bg-no-repeat bg-yellow-100 bg-center bg-gray-100 border-4 border-gray-100 border-round" style="background-image: url('./assets/img/banner.png')">
    <div class="grid lg:mx-8">
        <div class="col-12 lg:px-8 text-center">
            <h1 class="lg:text-7xl md:text-2xl">World's Largest Database of
                <br>
                <span style="color: #640ab6;">
                    <strong>Public Social Profiles</strong>
                </span>
            </h1>
            <p class="text-gray-800 line-height-3 lg:px-8">ProfilePiler is the world's largest collection of publicly available social profiles on the internet. The platform aggregates the social profiles from various social networks, showcases linked social accounts and outlines the recent social activity for a particular profile. You can browse profiles by keywords, account name, network, location and various other available filters.</p>
        </div>
    </div>
    <pp-search-form></pp-search-form>
</div>

        <h3 class="text-center font-bold text-4xl">Social Profiles</h3>
        <div class="px-4 md:px-6 lg:px-8 lg:mb-4">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card selectable bg-gray-100 p-3 border-rounded" style="border-radius: 16px;">
                        <i class="pi pi-book text-white border-circle text-2xl p-3 bg-gray-300 icon-circle"></i>
                        <span class="block font-bold my-3 text-4xl">Network</span>
                        <div class="text-2xl">Browse by Network</div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class=" card selectable bg-gray-100 p-3 border-rounded" style="border-radius: 16px;">
                        <i class="pi pi-book text-white border-circle text-2xl p-3 bg-gray-300 icon-circle"></i>
                        <span class="block font-bold my-3 text-4xl">Industry</span>
                        <div class="text-2xl">Browse by Industry</div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card selectable bg-gray-100 p-3 border-rounded" style="border-radius: 16px;">
                        <i class="pi pi-book text-white border-circle text-2xl p-3 bg-gray-300 icon-circle"></i>
                        <span class="block font-bold my-3 text-4xl">Job Category</span>
                        <div class="text-2xl">Browse by Job Category</div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card selectable bg-gray-100 p-3 border-rounded" style="border-radius: 16px;">
                        <i class="pi pi-book text-white border-circle text-2xl p-3 bg-gray-300 icon-circle"></i>
                        <span class="block font-bold my-3 text-4xl">By Role</span>
                        <div class="text-2xl">Browse by By Role</div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card selectable bg-gray-100 p-3 border-rounded" style="border-radius: 16px;">
                        <i class="pi pi-book text-white border-circle text-2xl p-3 bg-gray-300"></i>
                        <span class="block font-bold my-3 text-4xl">Topics</span>
                        <div class="text-2xl">Browse by Topics</div>
                    </div>
                </div>
            </div>
        </div>
