<div class="search-panel">
  <div class="grid md:justify-content-center">
    <div class="col-2 hidden"></div>
    <div class="col-12 lg:col-8 md:col-12">
      <div class="heading text-center">
        <h1>
          World's Largest Database of <br />
          <span class="theme-color">
            <strong>Public Social Profiles</strong>
          </span>
        </h1>
        <p>
          ProfilePiler is the world's largest collection of publicly available
          social profiles on the internet. The platform aggregates the social
          profiles from various social networks, showcases linked social
          accounts and outlines the recent social activity for a particular
          profile. You can browse profiles by keywords, account name, network,
          location and various other available filters.
        </p>
      </div>
      <pp-search-form></pp-search-form>
    </div>
    <div class="col-2 hidden"></div>
  </div>
</div>

<div class="content">
  <pp-search-profile></pp-search-profile>
</div>


