<div class="content">
  <div class="bread-crumbs pt-3 pb-2">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
  <br />

  <h1>Contact Us</h1>

  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Your Name (required)</label>
      <input
        type="text"
        class="form-control"
        required
        id="name"
        name="name"
        aria-describedby="name"
        placeholder="Enter your name"
        [(ngModel)]="model.name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Your Email address</label>
      <input
        type="email"
        class="form-control"
        required
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        placeholder="Enter email"
        [(ngModel)]="model.email"
      />
      <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
      </small>
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input
        type="text"
        class="form-control"
        name="subject"
        required
        id="subject"
        placeholder="Subject"
        [(ngModel)]="model.subject"
      />
    </div>
    <div class="form-group">
      <label for="subject">Your Message</label>
      <textarea
        class="form-control"
        required
        name="message"
        id="message"
        cols="30"
        rows="10"
        [(ngModel)]="model.message"
      ></textarea>
    </div>

    <ng-container *ngIf="errorMsg">
      <p class="bg-danger p-3 text-white">{{ errorMsg }}</p>
    </ng-container>

    <ng-container *ngIf="successMsg">
      <p class="bg-success p-3 text-white">
        {{ successMsg }}
      </p>
    </ng-container>

    <button
      [disabled]="!contactForm.form.valid || posting" 
      type="submit"
      class="btn btn-dark btn-block mb-4"
    >
      Send
    </button>
  </form>
</div>
