<div class="content">
  <div class="bread-crumbs pt-3 pb-2">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/lists">Curated List</a></li>
      <li *ngIf="list">
        <a routerLink="/curated-lists">{{ list.title }}</a>
      </li>
    </ul>
  </div>

  <br />

  <ng-container *ngIf="error">
    <p class="erro">
      {{ error }}
    </p>
  </ng-container>
  <ng-container *ngIf="list">
    <div class="heading">
      <h1>{{ list.title }}</h1>
      <p>
        {{ list.subTitle }}
      </p>
    </div>

    <div class="description">
      <p>
        {{ list.description }}
      </p>
    </div>

    <div class="list profile-list mt-3">
      <ng-container *ngFor="let profile of list.profiles">
        <app-profile-list-item [profile]="profile"></app-profile-list-item>
      </ng-container>
    </div>
  </ng-container>
</div>
