.card.embedo-container {
  border: 0px !important;
  /* overflow: auto; */
}

.hide {
  display: none !important;
}

.loader-container {
  border: 1px solid gainsboro;
  padding: 10px;
  height: 400px;
  margin-bottom: 10px;
}

embed {
  /* height: 400px !important; */
  width: 100%;
}

.inner-container {
  max-width: 340px;
  margin-bottom: 10px;
  min-height: 100px;
}
