<div class="row" (click)="open(content)">
  <div class="col-10 label-show text-truncate">
    {{ getText() | titlecase }}
  </div>
  <div class="col dropdown-arrow">
    <i class="fas fa-angle-down"></i>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Platforms</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <ng-container *ngFor="let p of platforms">
        <div
          class="col-4 sm-col-6 selectable flex"
          [class.selected]="p.selected"
          (click)="onItemClicked(p)"
        >
          <app-platform-icon
            [platform]="p.platform"
            cssClasses="social-icon icon-circle platfrom-selector"
          >
          </app-platform-icon>
          <div>{{ p.name }}</div>
          <i *ngIf="p.selected" class="checkbox fa fa-check-circle"></i>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer" *ngIf="mode == 'Multi'">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Select
    </button>
  </div>
</ng-template>
