<div class="latest-feed-panel mt-2 container-flex" [class.hidden]="!visible">
  <!-- show the engagement and average fields here -->

  <div class="row mb-4">
    <div class="col">
      <app-profile-social-score
        [platform]="platform"
        [profile]="profile"
        [posts]="posts"
      >
      </app-profile-social-score>
    </div>
  </div>

  <hr
    class="mb-4"
    *ngIf="!viewParmas.feedLoading && !viewParmas.feedLoadError"
  />

  <div class="row" *ngIf="viewParmas.feedLoadError">
    <div class="col" style="text-align: center;">
      An error occured while loading feed.
      <button (click)="loadFeed()" class="btn btn-primary theme-bg">
        try again
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div
        style="text-align: center;"
        class="fa-3x"
        *ngIf="viewParmas.feedLoading"
      >
        <i class="fas fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>

  <ngx-masonry [options]="{ columnWidth: 350, gutter: 10 }">
    <div
      ngxMasonryItem
      class="grid-item masonry-item"
      *ngFor="let p of posts"
      style="width: 340px;"
    >
      <app-social-feed-item
        (loaded)="feedItemLoaded()"
        [feed]="p"
        [platform]="platform"
      >
      </app-social-feed-item>
    </div>
  </ngx-masonry>
</div>
