<div class="grid">
  <div class="col-4">
    <h1 class="mt-1">Curated List</h1>
  </div>
  <div class="col-8">
    <div class="flex justify-content-end">
      <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
    </div>
  </div>
</div>
<div class="card">
  <div class="flex flex-wrap justify-content-between my-2">
    <a routerLink="/curated-lists/create"><button class="p-button p-button-raised p-button-info">Add New</button>
    </a>
    <input class="p-2" pInputText type="text" (input)="filterTable()" [(ngModel)]="titleFilter"
      placeholder="Search Keywords" />
  </div>
  <p-table #dt [value]="curatedLists" [rows]="curatedLists.length > 10 ? 10 : 10"
    [paginator]="curatedLists.length > 10">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Sub Heading</th>
        <th>Active</th>
        <th>Tags</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-curatedList let-i="rowIndex">
      <tr>
        <td>{{ curatedList.id }}</td>
        <td>{{ curatedList.title }}</td>
        <td>{{ curatedList.sub_heading }}</td>
        <td>
          <p-checkbox [ngModel]="curatedList.is_active.data && curatedList.is_active.data[0] === 1" [binary]="true"
            (click)="toggleClick(curatedList.id)"></p-checkbox>

        </td>
        <!-- <ng-template *ngIf="curatedList.listTags.id"> -->
        <ng-container *ngFor="let name of names">
          <td>{{name.name}}</td>
        </ng-container>
        <!-- </ng-template> -->
        <td>
          <div class="flex justify-content-center gap-1">
            <p-button icon="pi pi-users" styleClass=" bg-blue-900 p-button-text text-white p-button-raised"></p-button>
            <a [routerLink]="['/curated-lists/',curatedList.id,'edit']">

              <p-button icon="pi pi-file-edit"
                styleClass="bg-blue-700 p-button-text text-white p-button-raised"></p-button>
            </a>
            <a routerLink="/curated-lists/view">
              <p-button icon="pi pi-eye" styleClass="bg-gray-700 text-white p-button-text p-button-raised"></p-button>
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" class="w-full">
      <tr>
        <td colspan="5">Total Data {{ curatedLists.length }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>