<div class="content">

    <div class="surface-section">
        <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
            <a class="no-underline line-height-3 cursor-pointer" routerlink="/">Home</a>
        </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span class="line-height-3" style="color: #640ab6;">Curated Lists</span>
        </li>
    </ul>

    <p class="text-4xl">Curated Lists</p>
    <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo consectetur eius sit blanditiis facere necessitatibus odit, iure facilis non delectus ullam? Facilis, beatae. Nobis nam praesentium obcaecati, asperiores ratione saepe?</p>

    
<div class="surface-card p-4 shadow-3 border-round mb-6">
    <div class="font-bold text-900">Top 10 Pakistani Twitter Accounts</div>
    <div class="font-medium text-600 mb-3">Top ten most followed Pakistani Twitter account.</div>
    <div class="mb-3">Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account</div>
    <div class="mb-3">Tags:</div>
    <div class="text-800">View Profiles</div>
</div>

<div class="surface-card p-4 shadow-3 border-round mb-6">
    <div class="font-bold text-900">Top 10 Pakistani Twitter Accounts</div>
    <div class="font-medium text-600 mb-3">Top ten most followed Pakistani Twitter account.</div>
    <div class="mb-3">Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account Top ten most followed Pakistani Twitter account</div>
    <div class="mb-3">Tags:</div>
    <div class="text-800">View Profiles</div>
</div>
    <p-paginator [rows]="10" [totalRecords]="10"></p-paginator>

</div>

</div>