<div class="profiles-states">
  <h2 class="text-center">Search Profiles</h2>
  <div class="row mt-4 mb-4">
    <div class="col-md-3">
      <div class="card selectable mb-2">
        <a routerLink="/search-profiles/network">
          <div class="card-body">
            <i class="fas fa-server icon-circle"></i>
            <h5>Network</h5>
            <span>Browse by Network</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card selectable mb-2">
        <a routerLink="/categories/industries">
          <div class="card-body">
            <i class="fas fa-industry icon-circle"></i>
            <h5>Industry</h5>
            <span>Browse by Industry</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card selectable mb-2">
        <a routerLink="/categories/job-categories">
          <div class="card-body">
            <i class="fas fa-id-card-alt icon-circle"></i>
            <h5>Job Category</h5>
            <span>Browse by Job Category</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card selectable mb-2">
        <a routerLink="/categories/roles">
          <div class="card-body">
            <i class="fas fa-user-tie icon-circle"></i>
            <h5>By Role</h5>
            <span>Browse by Role</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card selectable mb-2">
        <a routerLink="/search-profiles/topics">
          <div class="card-body">
            <i class="fas fa-clipboard-list icon-circle"></i>
            <h5>Topics</h5>
            <span>Browse by Topics</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
