<h2>Dashboard Work</h2>

<p-table 
[tableStyle]="{'min-width': '50rem'}"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr>
            <td>4597</td>
            <td>Sajid</td>
            <td>dskjf dsi</td>
            <td>6</td>
        </tr>
        <tr>
            <td>4597</td>
            <td>Sajid</td>
            <td>dskjf dsi</td>
            <td>6</td>
        </tr>
        <tr>
            <td>4597</td>
            <td>Sajid</td>
            <td>dskjf dsi</td>
            <td>6</td>
        </tr>
    </ng-template>
</p-table>