.social-state {
  font-size: 14px;
  color: gray; 
  text-align: center;
}
.social-state span {
  font-weight: bold;
  font-size: 30px;
}
.stat-item {
  border-right: 1px solid gainsboro;
}

.stat-item:last-of-type {
  border-right: none;
}
