<div class="row">
  <div class="col">
    <br />
    <h5 class="theme-color">{{ platform | titlecase }} Engagement Statistics</h5>
    <hr />
  </div>
</div>
<div class="row" *ngIf="profileStats">
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgLikes">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-thumbs-up" style="font-size: 24px;"></i>
        <br />
        Average Likes
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgLikes"
          [prevVal]="0"
          [duration]="2"
        >
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgComments">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-comments" style="font-size: 24px;"></i>
        <br />
        Average Comments
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgComments"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>

  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgPlays">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-play-circle" style="font-size: 24px;"></i>
        <br />
        Average Plays
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgPlays"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgRetweets">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-retweet" style="font-size: 24px;"></i>
        <br />
        Average Retweets
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgRetweets"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgShares">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-share-square" style="font-size: 24px;"></i>
        <br />
        Average Shares
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgShares"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgRepinCount">
    <div class="">
      <div class="card-body social-state">
        <i class="fab fa-pinterest-square" style="font-size: 24px;"></i>
        <br />
        Average Repin
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgRepinCount"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgViews">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-eye" style="font-size: 24px;"></i>
        <br />
        Average Views
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgViews"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-item" *ngIf="profileStats.AvgReach">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-chart-line" style="font-size: 24px;"></i>
        <br />
        Average Post Reach
        <br />
        <span
          class=""
          appCounto
          [step]="50"
          [currVal]="profileStats.AvgReach"
          [prevVal]="0"
          [duration]="2"
        ></span>
      </div>
    </div>
  </div>

  <div class="col-md-2 stat-item" *ngIf="profileStats.EngagementRate">
    <div class="">
      <div class="card-body social-state">
        <i class="fa fa-mouse" style="font-size: 24px;"></i>
        <br />
        Engagement Rate
        <br />

        <span class="">
          <span
            appCounto
            [step]="50"
            [currVal]="profileStats.EngagementRate"
            [prevVal]="0"
            format="1.0-3"
            [duration]="2"
          ></span
          >%
        </span>
      </div>
    </div>
  </div>
</div>
