<div class="profiles-states pt-5 pb-5">
  <h2 class="text-center">{{ heading }}</h2>

  <div class="row mt-4 mb-4">
    <div class="col-md-3" *ngFor="let p of platforms">
      <div class="card selectable">
        <a target="_blank" routerLink="/profiles/by-platform/{{ p.name }}">
          <div class="card-body">
            <app-platform-icon
              [platform]="p.name | lowercase"
              cssClasses="colored icon-circle"
            >
            </app-platform-icon>
            <span>{{ p.name }}</span>
            <h5>
              {{ p.count | toShortNumber }}
            </h5>
            <span>Accounts</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
