<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="location-input">Location</label>
      <input
        [(ngModel)]="filters.location"
        (change)="changed()"
        class="form-control"
        id="location-input"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="is-verified-label">Education</label>
      <input
        [(ngModel)]="filters.education"
        (change)="changed()"
        class="form-control"
        id="location-input"
      />
    </div>
  </div>
</div>
