<div class="border-top-1 border-gray-300">
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid border-bottom-2 border-gray-300">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="bg-500 p-3">
                    <img src="../../../../assets/img/logo.png" alt="">
                        <p class="text-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque molestiae in ratione, amet vel repudiandae dicta optio, ipsam, laboriosam</p>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="bg-500">
                        <ul class="list-none">
                            <li class="p-2">
                                <a href="#" class="text-900 no-underline font-bold">COMPANIES</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Resource</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Resource name</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Another Resource</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Final Resource</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="bg-500">
                        <ul class="list-none">
                            <li class="p-2">
                                <a href="#" class="text-900 no-underline font-bold">ABOUT</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Team</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Locations</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Privacy</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="bg-500">
                        <ul class="list-none">
                            <li class="p-2">
                                <a href="#" class="text-900 no-underline font-bold">RESOURCES</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Team</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Locations</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Privacy</a>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-700 no-underline">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid py-2">
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="bg-500">
                        <ul class="list-none">
                            <li class="py-3">
                                <a href="#" class="text-900 no-underline font-bold">CONTACT US</a>
                            </li>
                            <li class="pt-4 pb-2">
                                <a href="#" class="text-700 no-underline">Work with us</a>
                            </li>
                            <li class="pb-2">
                                <a href="#" class="text-700 no-underline">support@profilerpiler.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <p class="text-900 font-bold px-6">FOLLOW US</p>
                    <div class="bg-500">
                        <ul class="list-none flex flex-row pt-4">
                            <li class="mx-2">
                                <i class="pi pi-facebook text-900 text-xl border-rounded bg-gray-300 text-xl p-2"></i>
                            </li>
                            <li class="mx-2">
                                <i class="pi pi-instagram text-900 text-xl border-rounded bg-gray-300 text-xl p-2"></i>
                            </li>
                            <li class="mx-2">
                                <i class="pi pi-youtube text-900 text-xl border-rounded bg-gray-300 text-xl p-2"></i>
                            </li>
                            <li class="mx-2">
                                <i class="pi pi-twitter text-900 text-xl border-rounded bg-gray-300 text-xl p-2"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-0 m-0 grid border-top-2 border-gray-300 w-full h-1rem">
                <div class="col-12">
                    <p class="text-gray-700 text-sm font-bold text-center">Copyright © 2020 Profilerpiler. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
