<div class="content">
  <div class="bread-crumbs pt-3 pb-2">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/search-profiles">Search Profiles</a></li>
      <li><a routerLink="/search-profiles/topics">Topics</a></li>
    </ul>
  </div>

  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a
          *ngFor="let key of alphabets"
          class="btn btn-light alphabet-btn rounded-circle"
          [class.selected]="startWith === key"
          routerLink="/search-profiles/topics/{{ platform }}"
          [queryParams]="{ startWith: key }"
        >
          {{ key | titlecase }}
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <br />
    <h3>Browse all Topics By Network</h3>
    <div class="row">
      <div class="col-3">
        <a routerLink="/search-profiles/topics/instagram">Instagram</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/youtube">Youtube</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/twitter">Twitter</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/facebook">Facebook</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/flickr">Flickr</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/quora">Quora</a>
      </div>
      <div class="col-3">
        <a class="active" routerLink="/search-profiles/topics/pinterest">
          Pinterest
        </a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/tiktok">Tiktok</a>
      </div>
      <div class="col-3">
        <a routerLink="/search-profiles/topics/TravelMassive">TravelMassive</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <br />

    <h3 class="heading">
      <ng-container *ngIf="platform">
        <app-platform-icon [platform]="platform" cssClasses="heading-icon">
        </app-platform-icon
      ></ng-container>
      Browse all Topics
      <ng-container *ngIf="platform">
        for {{ platform | titlecase }}</ng-container
      >
    </h3>
    <br />
    <div class="row">
      <div class="col-md-3" *ngFor="let key of keywrods">
        <a [href]="getSearchLink(key.keyword)" target="_blank">
          <i class="fas fa-caret-right"></i> {{ key.keyword | titlecase }} ({{
            key.resultsCount | number
          }})
        </a>
      </div>
    </div>
    <br />
  </div>
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a
          *ngFor="let key of alphabets"
          class="btn btn-light alphabet-btn rounded-circle"
          [class.selected]="startWith === key"
          routerLink="/search-profiles/topics"
          [queryParams]="{ startWith: key }"
        >
          {{ key | titlecase }}
        </a>
      </div>
    </div>
  </div>
</div>
