.alphabet-btn {
  margin: 10px;
  font-weight: bolder;
}
.p-button.selected {
  background-color: #4f0098 !important;
  color: white !important;
}
h3.heading {
  display: flex;
  align-items: center;
}
pp-platform-icon {
  margin-right: 20px;
  color: #4f0098;
}

.rounded-circle {
  border-radius: 50% !important;
}
.btn-light {
  // color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.p-button {
  color: black !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
