<div class="grid">
  <div class="col-4">
    <h1 class="mt-1">Failed Jobs</h1>
  </div>
  <div class="col-8">
    <div class="flex justify-content-end">
      <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
    </div>
  </div>
</div>
<div class="card">
  <div class="flex justify-content-end my-2">
    <input
      class="p-2"
      pInputText
      type="text"
      (input)="filterTable()"
      [(ngModel)]="jobsfailedFilter"
      placeholder="Search Keywords"
    />
  </div>
  <p-table
    #dt
    [value]="failedJobLists"
    [rows]="failedJobLists.length > 10 ? 10 : 10"
    [paginator]="failedJobLists.length > 10"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>uuid</th>
        <th>connection</th>
        <th>queue</th>
        <th>payload</th>
        <th>exception</th>
        <th>failed_at</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-failedJobList>
      <tr>
        <td>{{ failedJobList.uuid }}</td>
        <td>{{ failedJobList.connection }}</td>
        <td>{{ failedJobList.queue }}</td>
        <td>{{ failedJobList.payload }}</td>
        <td>{{ failedJobList.exception }}</td>
        <td>{{ failedJobList.failed_at }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">Total Data {{ failedJobLists.length }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
