<div class="row no-gutters">
  <div class="col-12">
    <div class="content">
      <div class="bread-crumbs pt-3 pb-2">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Results</a></li>
        </ul>
      </div>
      <div class="top-profiles pt-5 pb-5" id="profile-section">
        <app-profile-skeleton *ngIf="!profile"></app-profile-skeleton>
        <ng-container *ngIf="profile">
          <div class="profile-detail mt-5">
            <div class="profile-img float-left">
              <img
                style="width: 90px; height: 90px"
                [src]="profile.ProfilePic | toFullUrl"
                onerror="this.src='/assets/img/no-image.png';"
              />
            </div>
            <app-platform-icon
              [platform]="profile.Platform"
              cssClasses="float-right icon-circle"
            >
            </app-platform-icon>
            <div class="desc">
              <h4>
                {{ profile.Name }}
                <i
                  *ngIf="profile.IsVerified"
                  class="fa fa-check-circle"
                  style="color: #640ab6"
                ></i>
              </h4>

              <p *ngIf="profile.Company">
                {{ profile.Company }}
              </p>
              <p *ngIf="profile.Location">
                {{ profile.Location }}
              </p>
              <p *ngIf="profile.Category">
                {{ profile.Category }}
                &nbsp;
              </p>
              <p *ngIf="profile.Education">
                {{ profile.Education }}
              </p>

              <ng-container *ngIf="profile.SocialEntity">
                <app-social-entity-renderer
                  [socialEntity]="profile.SocialEntity"
                >
                </app-social-entity-renderer>
                <br />
              </ng-container>
            </div>

            <h5 class="mt-5">Description</h5>
            <p [innerHTML]="parseLineBreaks(profile.Description)"></p>
          </div>
          <app-profile-stats [profile]="profile"></app-profile-stats>
        </ng-container>
        <app-profile-social-feed [profile]="profile" id="profile-social-feed">
        </app-profile-social-feed>
      </div>
    </div>
  </div>
</div>
