<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="grid">

    <h1>Contact Us</h1>
    <div class="col-12">
        <label for="">Your Name (required)</label> <br>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Enter your name">                    
        </div>
    </div>
    <div class="col-12">
        <label for="">Enter email</label> <br>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Enter email">                    
        </div>
        <small>We'll never share your email with anyone else</small>
    </div>
    <div class="col-12">
        <label for="">Subject</label> <br>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Subject">                    
        </div>
    </div>
    <div class="col-12">
        <label for="">Your Message</label> <br>
        <div class="p-inputgroup">
            <textarea cols="30" rows="10" pInputTextarea></textarea>                    
        </div>
    </div>
    <div class="col-12">
        <button pButton type="button" label="Send" class="p-button-secondary col-12"></button>
        <!-- <label for="">Your Message</label> <br>
        <div class="p-inputgroup">
            <textarea cols="30" rows="10" pInputTextarea></textarea>                    
        </div> -->
    </div>
</div>