<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="categories">Category</label>
      <div class="select">
        <select
          id="categories"
          [(ngModel)]="filters.category"
          (ngModelChange)="changed()"
          class="form-control"
        >
          <option value="">All</option>
          <option *ngFor="let c of categories" [value]="c.name">
            {{ c.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="is-verified-label">Is Verified</label>
      <div class="select">
        <select
          [(ngModel)]="filters.isVerified"
          (ngModelChange)="changed()"
          class="form-control"
        >
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
</div>
