<div class="row">
  <div class="col-md">
    <div class="form-group">
      <label for="location-input">Country</label>
      <app-auto-complete
        fileName="youtube-locations.json"
        [(ngModel)]="filters.location"
        (change)="changed()"
      ></app-auto-complete>
      <!-- <input
        [(ngModel)]="filters.location"
        (change)="changed()"
        class="form-control"
        id="location-input"
      /> -->
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="is-verified-label">Is Verified</label>
      <div class="select">
        <select
          [(ngModel)]="filters.isVerified"
          (change)="changed()"
          class="form-control"
        >
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="control1">Is Family Safe</label>
      <div class="select">
        <select
          [(ngModel)]="filters.isFamilySafe"
          (change)="changed()"
          class="form-control"
        >
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </div>
</div>
